.page.comment-page{
    min-height: 620px;
}
.text-c{
    text-align: center;
}
.fixed-1{
	position: fixed;
    top: 0;
    left: 0;
}
#share {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 8%;
    background: rgba(0, 0, 0, 0.4);
}
#share>.col1-tkl{
    position: absolute;
    top: 50%;
    background: #fff;
    border-radius: 10px;
    margin-top: -145px;
    width: 84%;
}
#kouling,
#share{
	position: fixed;
	z-index: 10000;
}
#title-logo img{
	width: 220px;
}
.icon-spinner.for-img{
	text-align: center;
    width: 100%;
    display: block;
    font-size: 60px;
    color: #ffc300;
    line-height: 150px;
    -webkit-animation:circle 1s infinite linear;
}
.hide{
	display: none !important;
}


@keyframes circle
{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(360deg); }
}

@-moz-keyframes circle 
{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(360deg); }
}

@-webkit-keyframes circle 
{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(360deg); }
}

@-o-keyframes circle 
{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(360deg); }
}
@-ms-keyframes circle{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(360deg); }
}

.m-cate-drop{
	position: fixed;
}
body{
	background: #fff5d4;
}
.search form {
    padding-top: 45px;
}
ul.cate-list{
	background: #fff;
}
.sliderImg{
	height: 350px;
	background-size: cover;
}
#title-logo img{
	width: 250px;
    margin: 20px 0px;
}
.page-load-status{
	text-align: center;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pagenavi{
	display: none;
}

#gotop{
	background: #ffc300;
    cursor: pointer;
    height: 45px;
    line-height: 29px;
    position: initial;
    padding: 8px 0;
    width: 100%;
}
#gotop:hover{
	background: #ffc300;
}
#gotop.icon-arrow-circle-up:before {
    color: #fff;
}
#rightContact{
	width: 64px;
    height: auto;
    padding-top: 28px;
    background: #ffc300;
    color: #fff;
    position: fixed;
    top: 220px;
    right: 10px;
    border: 1px solid #ffc300;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}
#rightContact:before {
    content: '';
    background: url(../img/wechat.png) 0px 0px no-repeat;
    background-size: 100%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -20px;
    left: 5px;
}
#rightContact .title{
	padding-bottom: 6px;
}
#rightContact .blank {
    background: #fff;
    color: #000;
    border-top: 1px solid #ffc300;
    height: 34px;
    line-height: 28px;
    text-align: center;
    padding: 4px 0;
    cursor: pointer;
}
#qr{
	position: fixed;
    right: 80px;
    top: 220px;
    overflow: hidden;
    z-index: 10;
}
.qrImg{
	display: none;
}
#gzh img{
	width: 200px;
    height: 200px;
    border: 1px solid #ddd;
}
#qun img{
	width: 200px;
    height: 260px;
    border: 1px solid #ddd;
}
#rightContactMobile{
	position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 10px;
    transform: rotate(-135deg);
    transform-origin: center;
    font-weight: bold;
    font-family: "Times New Roman",Georgia,Serif;
    z-index: 1000;
}
#plus{
	position: absolute;
    transform: rotate(45deg);
    transform-origin: center;
    -webkit-transform-origin: center;
    -o-transform-origin: center;
    background: #ffc300;
    border-color: #ffc300;
    color: #fff;
    opacity: 0.7;
}
#plus{
	font-size: 40px;
	display: block;
	width: 50px;
    height: 50px;
    border-radius: 25px;
}
#plus>span{
	display: block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
}
.bling{
	position: absolute;
    height: 46px;
    width: 46px;
    line-height: 14px;
    padding-top: 8px;
    font-size: 12px;
    border-radius: 23px;
    border: 1px solid #000;
    left: 2px;
    top: -90px;
    background: #ffc300;
    color: #fff;
    border-color: #ffc300;
    transform: scale(0.5);
}
.bling:nth-child(2){
	background: #f50;
    border-color: #f50;
}
.bling:nth-child(3){
	background: #0ae;
    border-color: #0ae;
}
.bling:nth-child(4){
	background: #149a0f;
    border-color: #149a0f;
}
.bling span {
    display: block;
}
.bling a{
    color: #fff;
}
.bling:nth-child(2){
	right: 63.6px;
    bottom: 63.6px;
    left: initial;
    top: initial;
}
.bling:nth-child(3){
	top: 2px;
    right: 90px;
    left: initial;
}
#rightContactMobile.rotate {
    -webkit-animation: rotate .8s;
    -moz-animation: rotate .8s;
    -o-animation: rotate .8s;
	animation: rotate .8s;
	transform: rotate(0deg);
}
#rightContactMobile.rotateR {
	-webkit-animation: rotateR .8s;
    -moz-animation: rotateR .8s;
    -o-animation: rotateR .8s;
    animation: rotateR .8s;
	transform: rotate(-135deg);
}
.bling.scale{
    -webkit-animation: scale .3s cubic-bezier(0.25, 1.15, 0.48, 1.35);
    -moz-animation: scale .3s cubic-bezier(0.25, 1.15, 0.48, 1.35);
    -o-animation: scale .3s cubic-bezier(0.25, 1.15, 0.48, 1.35);
    animation: scale .3s cubic-bezier(0.25, 1.15, 0.48, 1.35);
    transform: scale(1);
}
@-webkit-keyframes rotate
{
	from {-webkit-transform: rotate(-135deg);}
	to {-webkit-transform: rotate(0deg);}
}
@-moz-keyframes rotate
{
    from {-moz-transform: rotate(-135deg);}
    to {-moz-transform: rotate(0deg);}
}
@-o-keyframes rotate
{
    from {-o-transform: rotate(-135deg);}
    to {-o-transform: rotate(0deg);}
}
@keyframes rotate
{
    from {transform: rotate(-135deg);}
    to {transform: rotate(0deg);}
}

@-webkit-keyframes rotateR
{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(-135deg);}
}
@-moz-keyframes rotateR
{
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(-135deg);}
}
@-o-keyframes rotateR
{
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(-135deg);}
}
@keyframes rotateR
{
	from {transform: rotate(0deg);}
	to {transform: rotate(-135deg);}
}


@-webkit-keyframes scale
{
    from {-webkit-transform: scale(0.5);}
    to {-webkit-transform: scale(1);}
}
@-moz-keyframes scale
{
    from {-moz-transform: scale(0.5);}
    to {-moz-transform: scale(1);}
}
@-o-keyframes scale
{
    from {-o-transform: scale(0.5);}
    to {-o-transform: scale(1);}
}
@keyframes scale
{
    from {transform: scale(0.5);}
    to {transform: scale(1);}
}
.shade{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
.shade .content{
    width: 60%;
    height: 60%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.shade .content>*{
    width: 100%;
}
.jingp {
    margin: 14px auto 20px;
}
#tuwenLink{
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    height: 36px;
}
#tuwenLink span{
    color: #f15482;
    display: block;
    border: 2px solid #f15482;
    width: 100px;
    margin: 0 auto;
    padding: 4px;
    border-radius: 14px;
    font-weight: bold;
}
img.tuwenImg{
    width: 100%
}
#tuwenLoading{
    display: none;
    width: 100%;
    padding: 5px;
    text-align: center;
}
#buyNow{
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 0;
    right: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.2);
    border-color: #fff;
    text-align: center;
    color: #000;
}
#buyNow a{
    color: #fff;
    background: #f50;
    border-radius: 24px;
    padding: 8px 40px;
    line-height: 40px;
    font-size: 16px;
}
#sort .container{
    height: 40px;
    line-height: 32px;
    font-size: 14px;
}
#sort .container .content{
    background: #f9f9f9;
    border: #eee 1px solid;
    width: 100%;
    height: 100%;
}
#sort .container .content>*{
    float: left;
    padding: 0 20px;
    border-right: #eee 1px solid;
    cursor: pointer;
    border-top: 3px solid #f9f9f9;
    border-bottom: 3px solid #f9f9f9;
}
#sort .container .content>.active{
    border-top: 3px solid #ffc300;
}
.drop .drop-menu li{
    font-size: 12px;
    height: 34px;
    line-height: 14px;
}
.drop .drop-menu li a {
    padding: 7px 20px;
    margin: 0;
}
.drop .drop-menu li span.iconfont {
    font-size: 16px;
    line-height: 20px;
    margin-right: 8px;
}
a:focus, a:hover{
    color: #ffc300;
}
#m-cate-icon.m-cate img{
    height: 26px;
    width: 26px;
    vertical-align: top;
}
#m-cate-icon.m-cate span{
    display: block;
    margin-top: -40px;
    padding-top: 12px;
    color: #fff;
}
.container.mobile{
    padding: 0;
    height: 36px;
    line-height: 26px;
}
#sort .container.mobile .content>*{
    width: 25%;
    text-align: center;
    padding: 0;
    padding-bottom: 6px;
    border-right: none;
    border-top: none;
    border-bottom-color: #fff;
}
#sort .container.mobile .content{
    background: #fff;
    border: none;
}
#sort .container.mobile .content>.active{
    border-top: none;
    border-bottom: 2px solid #ffc300;
}
.current-menu-item{
    background-color: rgba(0, 0, 0, 0.4);
}
.drop .current-menu-item a{
    color: #ffc300;
}
.comment-respond{
    text-align: center;
}
.comment-reply-title{
    margin: 10px 0;
    padding: 8px 0;
    color: #666;
    line-height: 22px;
}
.comment-form-comment textarea{
    width: 50%;
    border-color: rgb(255, 195, 0);
    border-radius: 4px;
}
.mobile .comment-form-comment textarea{
    width: 100%;
}
.comment-form .submit{
    background: #ffc300;
    border-color: #ffc300;
    border-style: none;
    width: 100px;
    height: 40px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.layout.comment-page{
    background: #f6f6f6;
}
.comment-form-comment label{
    display: none;
}
#scan{
    display: block;
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: #000;
}
.ad-sort img {
    width: 100%;
    max-height: 140px;
    margin-bottom: 8px;
}
#cate ul.cate-list li>* {
    width: 100%;
    display: block;
}
.m-main-cate ul li{
    width: 23%;
    margin-right: 1%;
    margin-left: 1%;
}
.col1-a .text{
    color: #f15482;
    font-size: 16px;
}
.col1-c{
    border-top: none; 
    border-bottom: 1px solid #C9C9C9;
}
.swiper-container{
    width: 100%;
    height: 100%;
}
.swiper-container .swiper-slide a,
.swiper-container .swiper-slide a img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.m-slider .swiper-container .swiper-slide a ,
.m-slider .swiper-container .swiper-slide a img{
    border-radius: 0;
}
.swiper-slide a {
    background: #fff;
    padding: 10px;
    display: block;
    border-radius: 14px;
}
.swiper-slide {
    -webkit-transition: transform 1.0s;
    -moz-transition: transform 1.0s;
    -ms-transition: transform 1.0s;
    -o-transition: transform 1.0s;
    -webkit-transform: scale(0.86);
    transform: scale(0.86);
    padding-bottom: 60px;
}
.swiper-slide-active,.swiper-slide-duplicate-active {
    -webkit-transform: scale(1);
    transform: scale(1);
}
#cate .slider{
    padding-top: 20px;
}
.swiper-button-prev {
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l4.2%2C4.2L8.4%2C22l17.8%2C17.8L22%2C44L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") #ffc300 center 50%/50% 50% no-repeat;
}

.swiper-button-next {
    margin-right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L5%2C44l-4.2-4.2L18.6%2C22L0.8%2C4.2L5%2C0z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") #ffc300 center 50%/50% 50% no-repeat;
}

.swiper-pagination-bullet {
    background: #ffc300;
    margin-left: 4px;
    margin-right: 4px;
    width: 17px;
    height: 17px;
    opacity: 1;
    margin-bottom: 4px;
}

.swiper-pagination-bullet-active.swiper-pagination-bullet-active {
    width: 18px;
    height: 18px;
    background: #FFF;
    border: 5px solid #ffc300;
    margin-bottom: 0;
}
.swiper-pagination,
.swiper-button{
    position: relative;
    bottom: 42px;
}
.swiper-pagination{
    bottom: 38px !important;
}
.m-slider .swiper-slide a{
    padding: 0;
}
.m-slider .swiper-slide{
    padding-bottom: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.m-slider .swiper-pagination{
    position: absolute;
    bottom: 10px !important;
}
.m-slider .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
}
.m-slider .swiper-pagination-bullet-active.swiper-pagination-bullet-active {
    width: 13px;
    height: 13px;
    background: #FFF;
    border: 2px solid #ffc300;
}
.m-slider .swiper-slide a{
    border-radius: 0px;
}
.m-slider{
    background: #fff;
}
.m-main-cate li:nth-child(1) a {
    background: url(../img/jinri.png) 0px 0px no-repeat;
    background-size: 100%;
}
.m-main-cate li:nth-child(2) a {
    background: url(../img/qiang.png) center no-repeat;
    background-color: #0ae;
    background-size: 70%;
}
.m-main-cate li:nth-child(3) a {
    background: url(../img/9.png) 0px 0px no-repeat;
    background-size: 100%;
}
.m-main-cate li:nth-child(4) a {
    background: url(../img/special.png) center no-repeat;
    background-color: #149a0f; 
    background-size: 80%;
}
.m-main-cate ul li a {
    display: block;
    background-size: 100%;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    line-height: 120px;
    text-align: center;
    color: #582c1a;
    border-radius: 25px;
}
.m-main-cate ul li.current-menu-item a{
    color: #582c1a;
    box-shadow: 0px 3px 10px 0px #000;
}
.m-main-cate ul li{
    background: #fff;
    box-shadow: none;
}
.m-main-cate ul li.current-menu-item{
    background: #fff;
    box-shadow: none;
}
.m-main-cate {
    height: 100px;
}
.mobile div.box-txt{
    display: table;
    position: static;
    bottom: auto;
    right: auto;
    margin-left: 0;
    margin-top: 10px;
}
.mobile .box-name dt{
    height: auto;
}
.mobile dd{
    padding-bottom: 0px;
    line-height: 1.2em;
    padding-top: .4em;
}
.mobile .box-price{
    line-height: 1.4em;
    font-size: 1.4em;
    padding-top: .1em;
    height: 1.3em;
}
.mobile .box-txt{
    margin-top: .8em;
    min-width: 5em;
    line-height: 2em;
}
.single-title{
    font-size: 16px;
    line-height: 18px;
    color: #666;
}
.col1-a {
    margin-top: 10px;
    background: #fff;
    border: 1px dotted #ffc300;
    padding: 0 4px;
    border-radius: 2px;
    text-align: left;
}
.col1-b .xj strong {
    font-size: 26px;
    padding: 0px;
}
@media only screen and (max-width: 760px){
    .layout.list {
        padding-bottom: 34px;
        margin-bottom: 0;
    }
}
.box:visited {
    border-color: #ffc300;
    box-shadow: 0 0 10px 0 rgba(170,170,170,.63);
}
.icon-search{
    font-size: 20px;
}
.sy-input{
    width: 50%;
}
.slogan .s-item {
    float: right;
    text-align: center;
    margin-left: 38px;
    margin-top: 34px;
}
.slogan .s-k{
    border: 2px solid #ffc300;
    color: #ffc300;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 6px;
}
body.pc{
    background: radial-gradient(circle, #ffe48d, #ffe694, #fdfdfd);
}
.bdsharebuttonbox>*{
    float: left;
    margin-right: 10px;
}
#shareWeixin{
    width: 40px;
    height: 40px;
    background: url(../img/wechat.png) center no-repeat;
    background-size: 100%; 
}
#shareWeibo{
    width: 40px;
    height: 40px;
    background: url(../img/weibo.png) center no-repeat;
    background-size: 100%; 
}
.tkl{
    height: 140px;
}
#toast{
    z-index: 100000;
    width: 70%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background: rgba(0,0,0,0.5);
    border-radius: 4px;
    position: fixed;
    top: 50%;
    right: 15%;
}
.mobile .post.xl12{
    width: 48%;
    margin: 1%;
    padding-bottom: 0px;
}
.mobile .box-img{
    width: 100%;
    height: 180px;
    overflow: hidden;
}
.mobile div.box-txt{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 4.4em;
    border-radius: 0;
    line-height: 20px;
    width: 5.4em;
    font-size: 12px;
}
.mobile .box-prod{
    width: 96%;
    margin: 0 2%;
    padding-bottom: 10px;
}
.mobile .box-txt .box-juan-price{
    border-radius: 0;
    width: 64%;
}
.mobile .box-name dt{
    font-size: 12px;
    -webkit-line-clamp: 1;
}
.mobile .box-txt .box-juan{
    width: 36%;
}
.mobile .page-load-status{
    margin-top: 6px;
    width: 100%;
    display: inline-block !important;
}
#article{
    margin-top: 20px;
}
#article ul li{
    list-style: decimal;
    font-size: 18px;
    color: #3a98ff;
    margin-bottom: 8px;
}
#article ul li a{
    color: #3a98ff;
}
#searchType>button{
    height: 40px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-color: #ffc300;
    border-right: none;
    padding: 6px;
}
#searchType.mobile{
    position: absolute;
    width: 58px;
}
#searchType.mobile>button{
    width: 100%;
    height: 32px;
    margin-top: 4px;
}
.m-header .m-search input.sy-input.mobile{
    padding-left: 58px;
    width: calc(72% - 82px);
}
.mobile ul.drop-menu li{
    line-height: 20px;
}