.fixed-1{
	position: fixed;
    top: 0;
    left: 0;
}
#kouling{
	position: fixed;
	z-index: 10000;
}
#title-logo img{
	width: 220px;
}
.icon-spinner.for-img{
	text-align: center;
    width: 100%;
    display: block;
    font-size: 60px;
    color: #ffc300;
    line-height: 150px;
    -webkit-animation:circle 1s infinite linear;
}
.hide{
	display: none !important;
}


@keyframes circle
{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(360deg); }
}

@-moz-keyframes circle 
{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(360deg); }
}

@-webkit-keyframes circle 
{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(360deg); }
}

@-o-keyframes circle 
{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(360deg); }
}
@-ms-keyframes circle{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(360deg); }
}

.m-cate-drop{
	position: fixed;
}
body{
	background: #fff5d4;
}
.search form {
    padding-top: 45px;
}
ul.cate-list{
	background: #fff;
}
.sliderImg{
	height: 350px;
	background-size: cover;
}
.m-main-cate ul li{
	background: #fff;
	border: 1px solid #ffc900;
	height: 36px;
    line-height: 36px;
}
.m-main-cate ul li.current-menu-item{
	background: #ffc900;
	background-image: -webkit-linear-gradient(180deg,rgb(251, 228, 155),#ffc300);
    background-image: -moz-linear-gradient(180deg,rgb(251, 228, 155),#ffc300);
	background-image: linear-gradient(180deg,rgb(251, 228, 155),#ffc300);
    border: none;
	box-shadow: 0px 4px 8px 0px rgba(80, 27, 0, 0.47);
}
#title-logo img{
	width: 250px;
    margin: 20px 0px;
}
.page-load-status{
	text-align: center;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pagenavi{
	display: none;
}

#gotop{
	background: #ffc300;
    cursor: pointer;
    height: 45px;
    line-height: 29px;
    position: initial;
    padding: 8px 0;
    width: 100%;
}
#gotop:hover{
	background: #ffc300;
}
#gotop.icon-arrow-circle-up:before {
    color: #fff;
}
#rightContact{
	width: 64px;
    height: auto;
    padding-top: 28px;
    background: #ffc300;
    color: #fff;
    position: fixed;
    top: 220px;
    right: 10px;
    border: 1px solid #ffc300;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}
#rightContact:before {
    content: '';
    background: url(../img/wechat.png) 0px 0px no-repeat;
    background-size: 100%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -20px;
    left: 5px;
}
#rightContact .title{
	padding-bottom: 6px;
}
#rightContact .blank {
    background: #fff;
    color: #000;
    border-top: 1px solid #ffc300;
    height: 34px;
    line-height: 28px;
    text-align: center;
    padding: 4px 0;
    cursor: pointer;
}
#qr{
	position: fixed;
    right: 80px;
    top: 220px;
    overflow: hidden;
}
.qrImg{
	display: none;
}
#gzh img{
	width: 200px;
    height: 200px;
    border: 1px solid #ddd;
}
#qun img{
	width: 200px;
    height: 260px;
    border: 1px solid #ddd;
}
#rightContactMobile{
	position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 10px;
    transform: rotate(-135deg);
    transform-origin: center;
    font-weight: bold;
    font-family: "Times New Roman",Georgia,Serif;
    z-index: 1000;
}
#plus{
	position: absolute;
    transform: rotate(45deg);
    transform-origin: center;
    -webkit-transform-origin: center;
    -o-transform-origin: center;
    background: #ffc300;
    border-color: #ffc300;
    color: #fff;
    opacity: 0.7;
}
#plus{
	font-size: 40px;
	display: block;
	width: 50px;
    height: 50px;
    border-radius: 25px;
}
#plus>span{
	display: block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
}
.bling{
	position: absolute;
    height: 46px;
    width: 46px;
    line-height: 14px;
    padding-top: 8px;
    font-size: 12px;
    border-radius: 23px;
    border: 1px solid #000;
    left: 2px;
    top: -90px;
    background: #ffc300;
    color: #fff;
    border-color: #ffc300;
    transform: scale(0.5);
}
.bling:nth-child(2){
	background: #f50;
    border-color: #f50;
}
.bling:nth-child(3){
	background: #0ae;
    border-color: #0ae;
}
.bling:nth-child(4){
	background: #149a0f;
    border-color: #149a0f;
}
.bling span {
    display: block;
}
.bling a{
    color: #fff;
}
.bling:nth-child(2){
	right: 63.6px;
    bottom: 63.6px;
    left: initial;
    top: initial;
}
.bling:nth-child(3){
	top: 2px;
    right: 90px;
    left: initial;
}
#rightContactMobile.rotate {
	animation: rotate .8s;
	transform: rotate(0deg);
}
#rightContactMobile.rotateR {
	animation: rotateR .8s;
	transform: rotate(-135deg);
}
.bling.scale{
    animation: scale .3s cubic-bezier(0.25, 1.15, 0.48, 1.35);
    transform: scale(1);
}
@keyframes rotate
{
	from {transform: rotate(-135deg);}
	to {transform: rotate(0deg);}
}
@keyframes rotateR
{
	from {transform: rotate(0deg);}
	to {transform: rotate(-135deg);}
}
@keyframes scale
{
    from {transform: scale(0.5);}
    to {transform: scale(1);}
}
.shade{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
.shade .content{
    width: 60%;
    height: 60%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.shade .content>*{
    width: 100%;
}
.jingp {
    margin: 14px auto 20px;
}
#tuwenLink{
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    height: 36px;
}
#tuwenLink span{
    color: #ffc300;
    display: block;
    border: 1px solid #ffc300;
    width: 100px;
    margin: 0 auto;
    padding: 4px;
    border-radius: 14px;
}
img.tuwenImg{
    width: 100%
}
#tuwenLoading{
    display: none;
    width: 100%;
    padding: 5px;
    text-align: center;
}
#buyNow{
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 0;
    right: 0;
    z-index: 100;
    background: rgba(255, 255, 255, 0.8);
    border-color: #fff;
    text-align: center;
    color: #000;
}
#buyNow a{
    color: #fff;
    background: #ffc300;
    border-radius: 24px;
    padding: 8px 40px;
    line-height: 40px;
    font-size: 16px;
}
#sort .container{
    height: 40px;
    line-height: 32px;
    font-size: 14px;
}
#sort .container .content{
    background: #f9f9f9;
    border: #eee 1px solid;
    width: 100%;
    height: 100%;
}
#sort .container .content>*{
    float: left;
    padding: 0 20px;
    border-right: #eee 1px solid;
    cursor: pointer;
    border-top: 3px solid #f9f9f9;
    border-bottom: 3px solid #f9f9f9;
}
#sort .container .content>.active{
    border-top: 3px solid #ffc300;
}
.drop .drop-menu li{
    font-size: 12px;
    height: 34px;
    line-height: 14px;
}
.drop .drop-menu li a {
    padding: 7px 20px;
    margin: 0;
}
.drop .drop-menu li span.iconfont {
    font-size: 16px;
    line-height: 20px;
    margin-right: 8px;
}
a:focus, a:hover{
    color: #ffc300;
}
#m-cate-icon.m-cate img{
    height: 26px;
    width: 26px;
    vertical-align: top;
}
#m-cate-icon.m-cate span{
    display: block;
    margin-top: -40px;
    padding-top: 12px;
    color: #fff;
}
.container.mobile{
    padding: 0;
    height: 36px;
    line-height: 26px;
}
#sort .container.mobile .content>*{
    width: 25%;
    text-align: center;
    padding: 0;
    padding-bottom: 6px;
    border-right: none;
    border-top: none;
    border-bottom-color: #fff;
}
#sort .container.mobile .content{
    background: #fff;
    border: none;
}
#sort .container.mobile .content>.active{
    border-top: none;
    border-bottom: 2px solid #ffc300;
}
.current-menu-item{
    background-color: rgba(0, 0, 0, 0.4);
}
.comment-respond{
    text-align: center;
}
.comment-reply-title{
    margin: 10px 0;
    padding: 8px 0;
    color: #666;
    line-height: 22px;
}
.comment-form-comment textarea{
    width: 50%;
    border-color: rgb(255, 195, 0);
    border-radius: 4px;
}
.mobile .comment-form-comment textarea{
    width: 100%;
}
.comment-form .submit{
    background: #ffc300;
    border-color: #ffc300;
    border-style: none;
    width: 100px;
    height: 40px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.layout.page{
    background: #f6f6f6;
}
.comment-form-comment label{
    display: none;
}
#scan{
    display: block;
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: #000;
}