.fixed-1{
	position: fixed;
    top: 0;
    left: 0;
}
#kouling{
	position: fixed;
	z-index: 10000;
}
#title-logo img{
	width: 220px;
}
.icon-spinner.for-img{
	text-align: center;
    width: 100%;
    display: block;
    font-size: 60px;
    color: #39b778;
    line-height: 150px;
    -webkit-animation:circle 1s infinite linear;
}
.hide{
	display: none !important;
}

@-webkit-keyframes circle{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(360deg); }
}