.fixed-1{
	position: fixed;
    top: 0;
    left: 0;
}
#kouling{
	position: fixed;
	z-index: 10000;
}
#title-logo img{
	width: 220px;
}
.icon-spinner.for-img{
	text-align: center;
    width: 100%;
    display: block;
    font-size: 60px;
    color: #ffc300;
    line-height: 150px;
    -webkit-animation:circle 1s infinite linear;
}
.hide{
	display: none !important;
}


@keyframes circle
{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(360deg); }
}

@-moz-keyframes circle 
{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(360deg); }
}

@-webkit-keyframes circle 
{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(360deg); }
}

@-o-keyframes circle 
{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(360deg); }
}
@-ms-keyframes circle{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(360deg); }
}
.m-cate-drop{
	position: fixed;
}
body{
	background: #fff5d4;
}
.search form {
    padding-top: 45px;
}
ul.cate-list{
	background: #fff;
}
.sliderImg{
	height: 350px;
	background-size: cover;
}
.m-main-cate ul li{
	background: #fff;
	border: 1px solid #ffc900;
	height: 36px;
    line-height: 36px;
}
.m-main-cate ul li.current-menu-item{
	background: #ffc900;
	background-image: -webkit-linear-gradient(180deg,rgb(251, 228, 155),#ffc300);
    background-image: -moz-linear-gradient(180deg,rgb(251, 228, 155),#ffc300);
	background-image: linear-gradient(180deg,rgb(251, 228, 155),#ffc300);
    border: none;
	box-shadow: 0px 4px 8px 0px rgba(80, 27, 0, 0.47);
}
