.fixed-1{
	position: fixed;
    top: 0;
    left: 0;
}
#kouling{
	position: fixed;
	z-index: 10000;
}
#title-logo img{
	width: 220px;
}
.icon-spinner.for-img{
	text-align: center;
    width: 100%;
    display: block;
    font-size: 60px;
    color: #ffc300;
    line-height: 150px;
    -webkit-animation:circle 1s infinite linear;
}
.hide{
	display: none !important;
}


@keyframes circle
{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(360deg); }
}

@-moz-keyframes circle 
{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(360deg); }
}

@-webkit-keyframes circle 
{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(360deg); }
}

@-o-keyframes circle 
{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(360deg); }
}
@-ms-keyframes circle{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(360deg); }
}
.m-cate-drop{
	position: fixed;
}
body{
	background: #fff5d4;
}
.search form {
    padding-top: 45px;
}
ul.cate-list{
	background: #fff;
}
.sliderImg{
	height: 350px;
	background-size: cover;
}
.m-main-cate ul li{
	background: #fff;
	border: 1px solid #ffc900;
	height: 36px;
    line-height: 36px;
}
.m-main-cate ul li.current-menu-item{
	background: #ffc900;
	background-image: -webkit-linear-gradient(180deg,rgb(251, 228, 155),#ffc300);
    background-image: -moz-linear-gradient(180deg,rgb(251, 228, 155),#ffc300);
	background-image: linear-gradient(180deg,rgb(251, 228, 155),#ffc300);
    border: none;
	box-shadow: 0px 4px 8px 0px rgba(80, 27, 0, 0.47);
}
#title-logo img{
	width: 250px;
    margin: 20px 0px;
}
.page-load-status{
	text-align: center;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pagenavi{
	display: none;
}

#gotop{
	background: #ffc300;
    cursor: pointer;
    height: 45px;
    line-height: 45px;
    position: initial;
    padding: 8px 0;
    width: 100%;
}
#gotop:hover{
	background: #ffc300;
}
#gotop.icon-arrow-circle-up:before {
    color: #fff;
}
#rightContact{
	width: 64px;
    height: auto;
    padding-top: 28px;
    background: #ffc300;
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 10px;
    border: 1px solid #ffc300;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}
#rightContact:before {
    content: '';
    background: url(../img/wechat.png) 0px 0px no-repeat;
    background-size: 100%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -20px;
    left: 5px;
}
#rightContact .title{
	padding-bottom: 6px;
}
#rightContact .blank {
    background: #fff;
    color: #000;
    border-top: 1px solid #ffc300;
    height: 34px;
    line-height: 28px;
    text-align: center;
    padding: 4px 0;
    cursor: pointer;
}
#qr{
	position: fixed;
    right: 80px;
    bottom: 20px;
    overflow: hidden;
}
.qrImg{
	display: none;
}
#gzh img{
	width: 200px;
    height: 200px;
    border: 1px solid #ddd;
}
#qun img{
	width: 200px;
    height: 260px;
    border: 1px solid #ddd;
}
#rightContactMobile{
	position: fixed;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 10px;
    transform: rotate(-135deg);
    transform-origin: center;
}
#plus{
	position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #000;
    border-radius: 20px;
    font-size: 30px;
    transform: rotate(45deg);
    transform-origin: center;
}
.bling{
	    position: absolute;
    width: 36px;
    height: 36px;
    line-height: 12px;
    padding-top: 6px;
    font-size: 10px;
    border-radius: 18px;
    border: 1px solid #000;
    left: 2px;
    top: -70px;
}
.bling span {
    display: block;
}
.bling:nth-child(2){
	right: 49.5px;
    bottom: 49.5px;
    left: initial;
    top: initial;
}
.bling:nth-child(3){
	top: 2px;
    right: 70px;
    left: initial;
}
#rightContactMobile.rotate {
	animation: rotate 1.5s;
	transform: rotate(0deg);
}
#rightContactMobile.rotateR {
	animation: rotateR 1.5s;
	transform: rotate(-135deg);
}
@keyframes rotate
{
	from {transform: rotate(-135deg);}
	to {transform: rotate(0deg);}
}
@keyframes rotateR
{
	from {transform: rotate(0deg);}
	to {transform: rotate(-135deg);}
}